<%= form_with(model: record) do |form| %>
  <% if record.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
        <% record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :employee_status, style: "display: block" %>
    <%= form.text_field :employee_status %>
  </div>

  <div>
    <%= form.label :prog_title, style: "display: block" %>
    <%= form.text_field :prog_title %>
  </div>

  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date, style: "display: block" %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.label :renewal_date, style: "display: block" %>
    <%= form.date_field :renewal_date %>
  </div>

  <div>
    <%= form.label :trainer_id, style: "display: block" %>
    <%= form.text_field :trainer_id %>
  </div>

  <div>
    <%= form.label :employee_id, style: "display: block" %>
    <%= form.text_field :employee_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
