<div id="<%= dom_id record %>">
  <p>
    <strong>Trainerid:</strong>
    <%= record.trainerid %>
  </p>

  <p>
    <strong>Employeeid:</strong>
    <%= record.employeeid %>
  </p>

  <p>
    <strong>Employee status:</strong>
    <%= record.employee_status %>
  </p>

  <p>
    <strong>Prog title:</strong>
    <%= record.prog_title %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= record.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= record.end_date %>
  </p>

  <p>
    <strong>Renewal date:</strong>
    <%= record.renewal_date %>
  </p>

</div>
