<div id="<%= dom_id trainer %>">
  <p>
    <strong>Email:</strong>
    <%= trainer.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= trainer.phone %>
  </p>

  <p>
    <strong>Fname:</strong>
    <%= trainer.fname %>
  </p>

  <p>
    <strong>Lname:</strong>
    <%= trainer.lname %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= trainer.address %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= trainer.position %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= trainer.dob %>
  </p>

</div>
