
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%#= link_to "Sign up", new_registration_path(users) %>
    <%= link_to 'Register', new_user_registration_path %>
    <%= link_to  "sign out",  destroy_user_session_path, 'data-turbo-method': :delete %>
    <%= link_to 'Log In', new_user_session_path %>


    <p>Style me in _nav.html.erb</p>
    <!-- This is my partial for the nav bar -->
  
