<!DOCTYPE html>
<html>
  <head>
    <title>TMS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    
    <%= link_to 'Register', new_user_registration_path %>
    <%= link_to  "sign out",  destroy_user_session_path, 'data-turbo-method': :delete %>
    <%= link_to 'Log In', new_user_session_path %>
    <%= yield %>
  </body>
</html>
